@media screen and (max-width: 600px) {
	.hidden-mobile{
		visibility: hidden;
		display: none;
	}

	.navbar-inverse {
		padding-left: 0px!important;
		padding-right: 0px!important; 
	}
}

a{
	text-decoration: none!important;
}

body{
	color:#4e5961;
	font-size:16px;
}

#logo_file:hover{
	opacity: 0.5!important;
}


#cover_file:hover{
	opacity: 0.5!important;
}

.startup-sidebar{
	margin: 60px;
	margin-top: -100px;
	background-color: white;
	border: 1px solid #d2d5d7;
	padding: 20px;
}

@media screen and (max-width: 700px) {
	.startup-sidebar{
		margin: 10px;
		margin-top: -100px;
		background-color: white;
		border: 1px solid #d2d5d7;
		padding: 20px;
	}
}

.edit-panel{
	background-color: #fff;
	border-radius: 10px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 20px;
}

.edit-panel-heading{
	background-color: #F9FAFB;
	border-bottom: 1px solid #E4EBF2;
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.edit-panel-content{
	padding: 30px;
}

label{
	color:#222f39;
	padding: 0.25em 0 0.5em;
	font-size: 16px;
}


.btn-save{
	background-color: #3498db;
	border-color: #3498db;
	color:white;
	font-size: 18px;
}

.btn-save:hover{
	color:white;
	opacity: 0.9;
}

#textarea_feedback{
	margin-right: 20px;
	margin-top: -30px;
	color: grey;
}

.edit-sidebar{
	list-style-type: none;
	font-size: 18px;
	padding: 0px;
}

.edit-sidebar li{
	margin-bottom: 20px;
}

.edit-sidebar li .active{
	background-color: black;
}

.edit-sidebar li a{
	color:#43505A;
}

.radio, .checkbox{
	display: inline;
	padding: 20px;
}

.no-padding{
	padding: 0px;
}

.form-group {
	margin-bottom: 20px;
}

.dropdown{
	cursor: pointer;
	margin-top: -5px;
}

.dropdown-menu{

}

.navbar-avatar{
	width: 30px;
	height: 30px;
	border-radius: 100%;
}

.navbar-inverse{
	padding-left: 70px;
	padding-right: 70px;
}

.navbar-inverse .navbar-nav > li > a:hover{
	opacity: 0.8;
}

.navbar-brand > img:hover{
	opacity: 0.8;
}

.navbar-right{
	padding-top: 7px;
}

.navbar-toggle{
	padding-top: 17px;
}

.subfooter{
	background-color: #f3f4f5;
	border-top: 1px solid #d2d5d7;
	color: #7a8288;
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.forgot-password{
	text-align: right;
	color: #7a8288;
}

.login-logo{
	text-align: center;
	max-width: 300px;
}

.padding-20{
	padding:20px;
}

.select-filter{
	margin: 20px;
	background: white;
	border:	none;
	font-size: 18px
}

.website a{
	color:#1d8fff;
}

.startup-sidebar .list-inline a{
	color: grey;
	font-size: 16px;
}

.progress-view {
	text-align: center;
	background-color: #eeeeee;
	border: 0 solid #d1d5d6;
	height: 20px;
	margin-bottom: .625rem;
	width: 80%;
	display: block;
}
.percentage-view {
	background: #fbb858;
	display: block;
	height: 100%;
	float: left;
	width: 0;
	border-radius: 0px;
	max-width: 100%
}

.startup-file{
	width: 70px;
	margin:	10px;
	text-align: center;
}

.border-right{
	border-right: 1px solid #DDD; 
}

.border-left{
	border-left: 1px solid #DDD; 
}

@media screen and (max-width: 950px) {
	.border-right{
		border-right: 0px; 
	}

	.border-left{
		border-left: 0px; 
	}
}

.startup-navigation{
	list-style: none;
	height: 100%;

}

.startup-navigation li{
	margin-top: 20px;
}

.startup-navigation .active a{
	text-decoration: underline!important;
}

.startup-navigation a{
	font-size: 18px;
	color: #4e5961;
}

.profile-title{
	font-weight: bold;
	margin-bottom: 20px;
}

.margin-20{
	margin:20px;
	margin-top: 30px!important;
}

.filename{
	color:#4e5961;
}

.filename:hover{
	color:#4e5961;
}

.team-avatar{
	width: 100px;
}

.uplift{
	color: green;
}